{# src/AM/IdeaMachineBundle/Resources/views/Idea/delete.html.twig #}

{% extends "AMIdeaMachineBundle::layout.html.twig" %}

{% block title %}
  Supprimer une idée - {{ parent() }}
{% endblock %}

{% block am_idea_machine_body %}

  <p>Etes-vous certain de vouloir supprimer l'idée "<strong>{{ idea.title }}</strong>" ?</p>

  <form action="{{ path('am_platform_delete', {'slug': idea.slug}) }}" method="post">
    <div class="parameters-idea">
      <a href="{{ path('am_platform_view', {'slug': idea.slug}) }}" class="btn btn-base">Retour à l'idée</a>
      <input type="submit" value="Supprimer" class="btn btn-delete" />
    </div>
    {{ form_rest(form) }}
  </form>

  {{ include("AMIdeaMachineBundle:Idea:menuConnectOrAuteur.html.twig") }}
  
  <div class="clearfix"></div>

{% endblock %}