{# src/AM/IdeaMachineBundle/Resources/views/Idea/index.html.twig #}

{% extends "AMIdeaMachineBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block am_idea_machine_body %}
    
    <div class="list-idea">
        <ul>
            {% for idea in listIdeas %}
                
            <li>
                <a href="{{ path('am_platform_view', {'slug': idea.slug}) }}">
                    {% if idea.image is not null %}
                        <div class="image-idea">
                            <img src="{{ asset(idea.image.webPath) }}" alt="{{ idea.image.alt }}">
                        </div>
                    {% endif %}
                    <span class="title-idea">{{ idea.title|truncate(20, false, '...') }}</span>
                    <span class="resume-idea">{{ idea.content|truncate(100, false, '...') }}</span>
                </a>
            </li>
            {% else %}
                <li class="idea-none">Aucune idées d'enregistrés</li>
            {% endfor %}
        </ul>
    </div>

    {{ include("AMIdeaMachineBundle:Idea:menuConnectOrAuteur.html.twig") }}

{% endblock %}