{# src/AM/IdeaMachineBundle/Resources/views/Idea/view.html.twig #}

{% extends "AMIdeaMachineBundle::layout.html.twig" %}


{% block title %}{{ idea.title }} - {{ parent() }}{% endblock %}

{% block am_idea_machine_body %}
    
    <div class="item-idea">
    		{% if idea.image is not null %}
                <div class="image-idea">
                    <img src="{{ asset(idea.image.webPath) }}" alt="{{ idea.image.alt }}">
                </div>
            {% endif %}

        <div class="top-publication">
    	   <h2>{{ idea.title }}</h2>
            <div class="vote-idea">
                {#% if not advert.categories.empty %#}
                    {#% for category in advert.categories %#}
                    {#% endfor %#}
                {#% endif %#}
                Il y a {{ nbrVotes }} votes
            </div>
        </div>
        <div class="content">
        	<p>{{ idea.content|nl2br }}</p>
        </div>
        <div class="date">
        	<p>créé le {{ idea.date|date('d/m/Y') }}</p>
        </div>
        <div class="author">
        	<p>par {{ idea.author }}</p>
        </div>
        <div class="parameters-idea">
            <a href="{{ path('am_platform_edit', {'slug': idea.slug}) }}" class="btn btn-edit">Editer</a>
        	<a href="{{ path('am_platform_delete', {'slug': idea.slug}) }}" class="btn btn-delete">Supprimer</a>
        </div>
    </div>

    {{ include("AMIdeaMachineBundle:Idea:menuConnectOrAuteur.html.twig") }}

{% endblock %}